aniso8601==8.1.1
asgiref==3.4.1
click==8.0.1
colorama==0.4.4
fastapi==0.66.0
fastapi-jwt-auth==0.5.0
graphene==3.0b7
graphene-pydantic==0.2.0
graphql-core==3.1.5
graphql-relay==3.1.0
h11==0.12.0
pydantic==1.6.2
PyJWT==1.7.1
starlette==0.14.2
uvicorn==0.14.0
pre-commit
